<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Update Data Source to match your SQL Server instance name shown in SSMS -->
    <add name="sqlcon" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KrishiSetuProDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
